
.ArrivalItem-cont{
    font-family: "Playfair Display";
    width: 16rem;
    height: 30rem;
}
.ArrivalItem-img{
    width: 16rem;
    height: 21rem;
}
.ArrivalItem-cart{
    width: 25px;
    margin-bottom: 2px;
}

