.HomeArrival-title{
  color: #B6322C;
  font-weight: bold;
  margin-bottom: 3rem;
}
.HomeArrival-cont{
  font-family:"Playfair Display";
  margin-left:12vw;
  margin-right: 12vw;
}

@media (max-width: 900px) {
  .HomeArrival-cont{
      margin-right: 0;
      margin-left: 0;

  }


}

@media (max-width: 500px) {
  .HomeArrival-cont{
      margin-right: 0;
      margin-left: 0;
      justify-content: center;
  }
.HomeArrival-items-cont{
  justify-content: center;
}

}