.HomeCategories-cont{
    background-color: transparent;
    z-index: 5;
    position: relative;
    top: -4rem;
    font-family: "Playfair Display";



}
.homeCategories-mini{
    background-color:white;
  
    

}
.homeCategories-items-handler{
background-color: white;
}

.homeCategeries-link-container{
    text-align: right;
}
.homeCategeries-link:hover{
    color: #B6322C;
}
@media (max-width: 900px) {
    .HomeCategories-cont{
        z-index: 0;
        position: initial
    }


}

@media (max-width: 500px) {
    .HomeCategories-items-cont{
        justify-content: center;
    }

}
