.SingleProductSlider-img{
  height: 70vh;
  width: 25vw;
}
.SingleSlider-Wishlist, .SingleSlider-Cart{
  display: none;
}
@media (max-width: 500px) {

  .SingleProductSlider-cont {
    max-width: 100%;
  }

  .SingleProductSlider-mini {
    justify-content: center;
    align-items: center;
  }

  .SingleProductSlider-mini img {
    margin: 10px 0;
  }
  .SingleProductSlider-img{
      height: initial;
      width: 50vw;
  }
  .SingleProductSlider-next,.SingleProductSlider-prev{
      padding: 0;
  }
  .SingleSlider-Wishlist, .SingleSlider-Cart{
      display: flex;
      width: 80%;
      align-items: center;
      font-size: smaller;
    margin-left: 10%;
    margin-right: 10%;
  }
  
}