.SingleProduct-cont{
    font-family: "Playfair Display";
    width: 80vw;
    height: 100vh;
}

@media screen and (max-width: 500px) {

    .SingleProduct-cont{
       display: block;
        padding: 0;
        width: -1;
        height: -1;
        flex-wrap: nowrap;
        gap: 0;
    }
    .ProductItem-modal{
        padding: 0;
    }
    .category-name-responsive{
        padding-top: 15%;
        padding-left: 10%;
        width: fit-content;
        font-size: 20px;
    }
}
